.search-section {
  text-align: center;
  padding: 25px 15px 0;
}

.search-box {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 400px;
}

.search-box input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.search-box input:focus {
  border-color: #43a047;
  box-shadow: 0 0 8px rgba(67, 160, 71, 0.3);
}

.search-box button {
  position: fixed;
  right: 5px;
  top: 30%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 3px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.search-box button:hover {
  background-color: #2e7d32;
}
