.header {
  background-color: #2e7d32;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;

  &>div>h1 {
    margin: 0;
    font-size: 24px;
  }

  &>div>h2 {
    font-weight: 400;
    font-size: 16px;
    color: #c8e6c9;
    margin: 0;
  }
}

.cart {
  cursor: pointer;

  &>img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
  }
}
