.header h1 {
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

.header p {
  font-size: 16px;
  color: #555;
  text-align: center;
}

.beneficios ul {
  padding-left: 20px;
}

.beneficios li {
  margin-bottom: 8px;
}
